<div class="grid grid-cols-7 w-full gap-8">

  <div class="col-start-1 col-span-3 justify-center bg-gray-400 rounded-lg grid grid-cols-1 gap-1">
    <h2 class="text-center">Dawitschi</h2>
    <h2 class="text-center">der Eigentorschütze</h2>
    <div class="avatar justify-center">
      <div class="w-14 rounded-full">
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </div>
    <h2 class="text-center">Elo 1000</h2>
  </div>

  <div class="col-start-5 col-span-3 justify-center bg-gray-400 rounded-lg grid grid-cols-1 gap-1">
    <h2 class="text-center">Dawitschi</h2>
    <h2 class="text-center">der Eigentorschütze</h2>
    <div class="avatar justify-center">
      <div class="w-14 rounded-full">
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </div>
    <h2 class="text-center">Elo 1000</h2>
  </div>

  <h1 class="text-center col-start-3 col-span-3">VS</h1>

  <div class="col-start-1 col-span-3 justify-center bg-gray-400 rounded-lg grid grid-cols-1 gap-1">
    <h2 class="text-center">Dawitschi</h2>
    <h2 class="text-center">der Eigentorschütze</h2>
    <div class="avatar justify-center">
      <div class="w-14 rounded-full">
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </div>
    <h2 class="text-center">Elo 1000</h2>
  </div>

  <div class="col-start-5 col-span-3 justify-center bg-gray-400 rounded-lg grid grid-cols-1 gap-1">
    <h2 class="text-center">Dawitschi</h2>
    <h2 class="text-center">der Eigentorschütze</h2>
    <div class="avatar justify-center">
      <div class="w-14 rounded-full">
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </div>
    <h2 class="text-center">Elo 1000</h2>
  </div>

  <div class="col-start-3 col-span-3 bg-green-400 rounded-md hover:bg-green-600">
    <button class="font-bold text-center w-full">See Schedule</button>
  </div>
</div>