<div class="flex grid-cols-3 grid-rows-1">
    <div class="w-fit" id="Team1">
        <h1 class="text-center">{{game.team1Score}}</h1>
        <div class="avatar">
            <div class="w-14 rounded-full">
              <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
        <div class="avatar">
            <div class="w-14 rounded-full">
              <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
    </div>
    <div class="w-fit">
        <h1 class="text-center">VS</h1>
    </div>
    <div class="w-fit" id="Team2">
        <h1 class="text-center">{{game.team2Score}}</h1>
        <div class="avatar">
            <div class="w-14 rounded-full">
              <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
        <div class="avatar">
            <div class="w-14 rounded-full">
              <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
    </div>
</div>
